[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
pyyaml = "*"
uritemplate = "*"
selenium = "*"
django-filter = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"

[requires]
python_version = "3.10"

[scripts]
dev = "python manage.py runserver"
scrape-sections = "python manage.py scrape sections"
scrape-courses = "python manage.py scrape courses"
scrape = "python manage.py scrape"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
