[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
pyyaml = "*"
uritemplate = "*"
selenium = "*"
django-filter = "*"

[requires]
python_version = "3.10"

[scripts]
dev = "python manage.py runserver"
seed-courses = "python manage.py shell -c 'from spire.scraper import scrape_data, ScrapeCoverage; scrape_data(ScrapeCoverage.SubjectsAndCourses)'"
seed-sections = "python manage.py shell -c 'from spire.scraper import scrape_data, ScrapeCoverage; scrape_data(ScrapeCoverage.Sections)'"
seed-courses = "python manage.py shell -c 'from spire.scraper import scrape_data, ScrapeCoverage; scrape_data(ScrapeCoverage.Total)'"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
